# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Oo]bj/
[Tt]est[Rr]esult*
.builds
*.pidb
*.svclog
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# User-specific files
*.rsuser

# Windows Forms specific
[Tt]humbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/